/* Styles for app component content areas */
.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--font-size-large);
  line-height: var(--line-height-heading);
  margin: 0;
  color: var(--color-text);
  font-weight: 600;
}
